/* Cuando esté checkeado cambiamos la opacidad a 1 y lo mostramos */
.input-label-switche input[type=checkbox]:checked~i:after {
  opacity: 1;
}

/* switche */

.input-label-switche {
  margin-bottom: 30px;
  padding: 5px 0 5px 60px;
}

.input-label-switche input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  visibility: hidden;
}

.input-label-switche input~i {
  background: #f0f0f0;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.input-label-switche input[type=checkbox]~i {
  width: 52px;
  height: 30px;
}

.input-label-switche input[type=checkbox]~i:before {
  transition: all 0.3s ease;
  content: '';
  /* No hay contenido */
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 1px;
  -webkit-box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0 3px 0 rgba(0, 0, 0, 0.2);
}

.input-label-switche input[type=checkbox]:checked~i:before {
  left: 22px;
  -webkit-box-shadow: -3px 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 0 -3px 0 rgba(0, 0, 0, 0.2);
}

.input-label-switche input[type=checkbox]:checked~i {
  background: #30BA3E;
}

.input-label-switche input[type=checkbox]~i:after {
  content: 'Si';
  position: absolute;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  top: 4px;
  left: 7px;
  opacity: 0;
  transition: all 0.25s ease 0.25s;
}